$boxSize: min(1.5vh, 1vw);

article {
  perspective: 2000px;
  padding-left: 50px;
  perspective-origin: center;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__map {
    display: grid;
    // grid-template-columns: repeat(50, $boxSize);
    box-sizing: border-box;
    grid-gap: 1px;
    transform-style: preserve-3d;
    transform: rotateX(55deg);
    transition: transform 2s ease;
  }
  &__buttons {
    display: flex;
    justify-content: center;
  }
}

.block {
  width: $boxSize;
  height: $boxSize;
  background-color: lightgrey;
  transform-style: preserve-3d;
  transition: transform 0.5s linear;

  &.clicked {
    background-color: cyan;
    transform: translateZ(calc(#{$boxSize} * 1));
  }
  &.mouseover {
    box-shadow: inset 0px 0px 1px black;
  }
}
