// https://colorhunt.co/palette/226633

$primary-color: #23120b;
$secondary-color: #21209c;
$highlight-color: #fdb827;
$background-color: #f1f1f1;

$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$page-width: 650px;
